* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}


.login-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  background: rgb(184, 182, 218);
  background: linear-gradient(100deg, rgba(184, 182, 218, 1) 0%, rgba(166, 166, 223, 1) 35%, rgba(193, 225, 232, 1) 100%);
}

.container-signup {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  width: 400px;
  height: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 20px; /* Add margin to separate from the login form */
}

.container-signup button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background: linear-gradient(70deg, rgba(98, 91, 247, 1), rgb(88, 80, 233));
  border: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  border-radius: 6px;
}

.container-signup h2{
font-size: 24px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color: rgba(51, 51, 51, 1);
margin-top: 10px;
}

.forget {
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(98, 91, 247, 1);
}

.font{
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(117, 117, 117, 1);
  margin-top: 20px;
}



.container-signup input {
  width: 100%;
  margin-block: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.signup{
font-size: 12px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
text-align: center;
color: rgba(51, 51, 51, 1);
}

.signup span{
  color: rgba(98, 91, 247, 1);
}


.profile {
  max-width: 600px;
  height: auto;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(151, 177, 236, 0.1);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile h1 {
  color: #333;
}

.profile img {
  max-width: 100%;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile p {
  margin: 10px 0;
  color: #555;
}

.profile p strong {
  color: #333;
}
